body {
    font-family: 'Orbitron', sans-serif;
}


#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }

  .blackout {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.137);
    z-index: 1;
  }
  

.header h1{
    font-size: 5rem;
    color: white;
    /* text-decoration: underline; */
 
} 

.z-index{
    z-index: 2;
}

img {
    width: 120px;
    height: 120px;
    padding: 20px;
    position: relative;
    z-index: 2;
}

img:hover {
    cursor: pointer;
    background-color: rgba(136, 136, 179, 0.575);    
}

  
.number-generated-container, .total-score-container {
    padding: 5rem;
    font-size: 10vw;
    background-color: rgba(136, 136, 179, 0.575);
}

.info-text {
    background: #02020254;
    color: #def4ff;
}


@media screen and (max-width: 768px) {
    .header h1 {
        font-size: 3rem;
    }

    img {
        height: 160px;
        background: rgba(255, 255, 255, 0.144);
    }
}
